/* #one{
  background-color: brown;
} */
/* #parent{
    height: 300px;
    width: 300px;
    background-color: chartreuse;
   
}
#child{
    height: 50%;
    width: 50%;
    background-color: rgb(171, 20, 103);
}
#parent:hover{
    border-radius: 50%;
    background-color: tomato; 
    transition: 2s;
}
#child:hover{
    border-radius: 50%;
    background-color: rgb(44, 135, 135);
    transition: 2s;
} */
